/***************************************** General Styles */

html,
body,
figure,
p,
h1,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  background-color: #f6f6f4;
  margin: 72px 10px 10px;
  font-family: "Raleway", sans-serif;
}

h1,
ul {
  transition: transform 0.3s;
  list-style-type: none;
}

li a {
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #7eaa7e;
  transition: all 200ms ease-in;
}

/***************************************** Head Style */

header {
  position: fixed;
  display: flex;
  width: 97%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: #000 solid 1px;
  z-index: 10000;
  height: 60px;
  top: 0;
}

#logo,
.proj-link {
  font-family: "afronaut", sans-serif;
}

nav {
  flex-basis: 700px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-content: center;
  margin: 0px;
  margin-top: 10px;
  padding: 0;
}

nav ul li {
  font: 18px "Roboto", sans-serif;
}

main {
  margin-top: 90px;
  min-height: 700px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  margin-top: 40px;
  justify-content: space-evenly;
}

.container p {
  font-size: 46px;
  color: transparent;
  -webkit-text-stroke: 1px #000;
  margin-bottom: 50px;
}

/***************************************** Index */

.social li {
  padding-bottom: 10px;
}

.project-link a {
  position: relative;
  left: 0;
  display: inline-flex;
  border-bottom: 3px solid;
}

.project-link a:hover {
  border-color: #7eaa7e;
  left: 10px;
  padding-left: 20px;
  transition: all 200ms ease-in;
}

#profile-img {
  position: relative;
  left: 200px;
}

#profile-img img {
  width: 500px;
  opacity: 80%;
  align-self: baseline;
}

#profile-txt {
  margin-top: 15px;
  z-index: 500;
  flex-basis: 800px;
}

/***************************************** Projects Main */

#proj-nav {
  margin-top: 100px;
}

#proj-nav ul {
  flex: none;
}

#proj-nav a {
  color: gray;
}

#proj-nav a:hover {
  color: #7eaa7e;
}

#current {
  color: #7eaa7e !important;
}

/* em {
  color: #c8c8c8;
    font-style: normal;
} */

.proj-btn {
  height: 100px;
  width: 200px;
  margin-left: 89px;
  margin-top: 50px;
  border-radius: 0;
  font-size: 16px;
  cursor: pointer;
  color: black;
  background-color: #daffda;
  text-transform: uppercase;
  font-weight: 600;
  transform: translate(-3px, -3px);
  box-shadow: 3px 3px black;
}

.proj-btn:hover {
  transition: all 0.3s;
  background-color: #b7d9b7;
}

.proj-btn:active {
  transition: all 0.02s;
  transform: translate(1px, 1px);
  box-shadow: 1px 1px;
}

.text-last {
  margin-left: 100px;
  max-width: 1000px;
}

.text-left {
  position: relative;
  left: 150px;
  z-index: 500;
  flex: 4;
}

.text-right {
  position: relative;
  right: 100px;
  z-index: 500;
  flex: 4;
}

.img-container {
  display: flex;
  flex: 3;
  position: relative;
}

.img-left {
  left: 100px;
}

.img-right {
  right: 100px;
}

.img-container img {
  align-self: center;
}

.fig-1 {
  margin-top: 200px;
  position: relative;
  left: 150px;
  opacity: 70%;
  z-index: 500;
}
.pic-1 {
  width: 90%;
}

.pic-2 {
  width: 100%;
  opacity: 80%;
}

.fig-3 {
  position: relative;
  margin-top: 300px;
  right: 20%;
}

.pic-3 {
  width: 100%;
  opacity: 70%;
}

figure:hover,
img:hover {
  opacity: 1;
  transition: all s;
}

figcaption {
  font: 20px Helvetica, sans-serif;
  letter-spacing: 2px;
}

/***************************************** Project Sections */

.proj-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 20px;
  justify-content: space-around;
  gap: 40px 40px;
}

.proj-container p {
  font-size: 30px;
  color: transparent;
  -webkit-text-stroke: 1px #000;
  padding: 20px;
  flex: 1;
  min-width: 300px;
}

.proj-imgs {
  display: flex;
  gap: 0 20px;
  flex: 2;
}

.proj-container img {
  margin: 20px 0 20px;
  align-self: center;
}

.cover {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 0% center;
}

.full-size {
  width: 100%;
}

.item {
  width: 400px;
  flex-basis: 30%;
  flex: 1;
}

.portfolio-list proj-link {
  margin-bottom: 29px;
}

.proj-link {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}

.proj-link:hover {
  transition: all 0.3s;
}


/***************************************** Footer */

footer {
  margin-top: 100px;
  font-family: "Roboto", sans-serif;
}

/***************************************** Media Queries */

/****************************************** 1200px to 1400px */

@media (min-width: 1200px) and (max-width: 1400px) {
  .container p {
    font-size: 38px;
  }
}

/****************************************** < 1320px */

@media (max-width: 1320px) {
#profile-img {
  position: static;
}
}

/****************************************** < 1200px */

@media (max-width: 1200px) {
  .proj-container p {
    font-size: 28px;
    color: black;
    -webkit-text-stroke: 0;
  }

  .container p {
    font-size: 35px;
  }
}

/****************************************** < 900px */

@media (max-width: 900px) {

  .container {
    justify-content: flex-start;
  }

  #profile-txt {
    position: static;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  #profile-img {
    margin-right: 20px;
  }

  #profile-img img {
    opacity: 100%;
  }

  .social {
    font-size: 20px;
    margin-top: 20px;
  }
}

/****************************************** 500px to 1200px */

@media (min-width: 500px) and (max-width: 1200px) {
  #profile-txt {
    font-size: 30px;
  }

  .text-left,
  .text-right {
    position: static;
  }

  .img-right {
    position: static;
  }

  .img-left {
    position: static;
  }

  .img-container {
    flex: auto;
  }

  #middle-container {
    flex-direction: column-reverse;
  }

  .text-last {
    width: 65%;
  }

  .fig-3 {
    margin-top: 500px;
  }
}

/***************************************** < 500px */

@media (max-width: 500px) {
  footer {
    margin-left: 10px;
  }

  #logo {
    font-size: 12px;
    min-width: 90px;
  }

  nav ul li {
    font-size: 14px;
  }

  .container {
    margin-bottom: 0;
    flex-direction: column;
  }

  .container p {
    font-size: 34px;
    margin-top: 40px;
  }

  .img-container {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .text-left,
  .text-right {
    position: static;
    flex: auto;
  }

  .text-right {
    text-align: right;
  }

  .text-last {
    margin-left: 0px;
  }

  #profile-txt {
    position: static;
    z-index: 500;
    flex: 4;
    min-width: unset;
  }

  #profile-img {
    margin-right: 0;
    position: static;
 }

  #profile-img img {
    width: 100%;
  }

  #middle-container {
    flex-direction: column-reverse;
  }

  #middle-container .img-container {
    justify-content: flex-start;
  }

  .fig-1,
  .fig-3 {
    margin-top: 10px;
    opacity: 100%;
  }

  .pic-1,
  .pic-2,
  .pic-3 {
    opacity: 100%;
  }

  .img-container {
    flex-direction: column-reverse;
  }

  .img-left {
    flex-direction: column;
  }

  .text-last {
    width: 100%;
  }

  .proj-btn {
    margin-top: 0px;
  }

  .proj-container {
    gap: 0;
  }

  .proj-container p {
    font-size: 28px;
    color: transparent;
    -webkit-text-stroke: 1px black;
  }

  .proj-imgs {
    flex-wrap: wrap;
  }

  .cover {
    height: 240px;
    object-position: 70% center;
  }

  .social {
    margin-left: 10px;
  }
}
